@import '../../styles/variables';

.calendar-container {
	position: relative;
	&--static { width: 230px;}
	&--by-content {width: 100%;}
}
.calendar__month--small {
	width: 100%;
	position: relative;
}

.calendar__week-grid--small {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	& > * {
		flex: 0 1 12%;
    height: 26px;
		margin: 2px;
	}
	[class$=day-type] {
    vertical-align: middle;
    color: #70757a;
		background-color: transparent;
	}
	button {
		font-size: 10px;
    font-weight: 500;
		cursor: pointer;
		background-color: transparent;
		border: none;
		border-radius: 50%;

	}
	[class$=--selected] {
		background-color: #d2e3fc;
	}
	[class$=--greyed]{
		color: #70757a;
	}
	[class$=--today] {
		background-color: $color-royal-blue;
    color: #fff;
	}
	button:not([class$=--today]):hover{
		background-color: #f1f3f4;
	}
}

.calendar__month__header--small {
	h5 {
		color: $primary-color-font;
		line-height: 2.5;
		font-weight: 500;
	}
	padding-left: 8px;
	display: flex;
	justify-content: space-between;
}

