@import '../../styles/variables';

/*** DAY COMPONENTS STYLING ***/
.calendar-day__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $color-rolling-stone;
}

[class^=calendar-day__ddd-format] {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	width: max-content;
	@include child-attribute('--today') {
		color: $color-royal-blue;
	}
}

[class^=calendar-day__num-format] {
	text-transform: uppercase;
	font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	letter-spacing: -2.6px;
  text-indent: -2.6px;
	@include child-attribute('--today') {
		background-color: $color-royal-blue;
		color: #fff;
	}
	@include child-attribute('--selected') {
		background-color: #d2e3fc;
	}
}

.calendar-day__num-format:hover {
	background-color: #f1f3f4;
}

[class^=calendar-day__info] {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-bottom: 4px;
	justify-content: center;
	align-items: center;
	@include child-attribute('--not-centered') {
		width: max-content;
		margin-left: 1rem;
	}
	@include child-attribute('--centered'){
		width: 100%;
	}
}

/*** CALENDAR TIME STYLING***/
$time-row-height: 52px;

.calendar-time__row {
	position: relative;
	display: flex;
	height: $time-row-height;
}

.calendar-time__label {
	color: $color-rolling-stone;
	width: 4rem;
	max-width: 4rem;
	margin-top: -7px;
	margin-right: 1.5rem;
	font-weight: 400;
	text-align: right;
	height: $time-row-height + 7px;
	align-self: flex-end;
}

%time-block-props {
	height: 100%;
	border-right: 1px solid $color-rolling-stone;
	border-bottom: 1px solid $color-rolling-stone;
}

.calendar-time__block {
	width: 100%;
	@extend %time-block-props;
}

.calendar-time__block-side {
	width: 7px;
	position: absolute;
	left: -7px;
	@extend %time-block-props;
}

/*** CALENDAR TYPE STYLING ***/
$time-label-width: 4rem;

.calendar-component-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
}

.calendar-grid {
	display: grid;
	// grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	height: auto;
	flex: 1 0 0;
}

.calendar-grid > * {
	min-width: 120px;
}

.calendar__date-cols {
	width: auto;
}

.calendar-headers-container {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	margin: .8rem 0;
}

.calendar-headers-container:first-of-type {
	margin-left: calc($time-label-width + 2rem);
}

.calendar-component-container:nth-child(1) {
	position: sticky;
	height: max-content;
	margin-top: 1rem;
	margin-bottom: -8px;
	z-index: 300;
}

.calendar-component-container:nth-child(2) {
	z-index: 200;
	margin-bottom: 1rem;
}

/*** CALENDAR SLOT ***/
.calendar-slot {
	border: 1px solid #fff;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	overflow: hidden;
	padding: .1rem .5rem;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	width: 98%;
}

.calendar-slot__text {
	font-size: .7rem;
	margin-bottom: 5px;
}

.slot-list {
	height: 400px;
	max-height: 90%;
	width: calc(120px - 10px);
	margin: 0 5px;
	overflow-y: auto;
	overflow-x: hidden;
	& > button {
		position: static;
	}
}
.schedule-tasks-counter {
	position: absolute;
	height: 13px;
	font-size: 10px;
	bottom: 1px;
	color: $color-grafito;
	cursor: pointer;
	padding: 0 10px;
	border: none;
	background-color: transparent;
}

.schedule-tasks-counter:hover {
	color: #010;
}

/*** CALENDAR STYLING ***/
.calendar-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: auto;
	height: auto;
	flex-grow: 1;
}