@import '../../styles/variables';

%hover-effect {
	color: $color-royal-blue;
}

.schedule-type-selector {
	display: flex;
	gap: 0 12px;
}

[class^=schedule-type] {
	border: 0;
	padding: 8px 4px;
	background-color: transparent;
	font-weight: 500;
	@include child-attribute('--active') {
		@extend %hover-effect;
		background-color: #e8f0fe;
	}
	:hover {
		@extend %hover-effect;
	}
}

.schedule-block {
	width: 100%;
	margin: 1.5rem 2rem;
}

.input-division {
	position: relative;
	display: flex;
	gap: 0 1rem;
}

.schedule-input__title {
	height: 35px;
	font-size: 1.2rem;
	padding: 0 2px;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.6);
}

.calendar-schedule__event {
	& > div {
		margin: 1rem 0;
	}
}

.schedule-input-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	flex-direction: row;

	span:first-of-type {
		width: 44px;
		img {
			display: flex;
			align-self: center;
			width: 22px;
			filter: $filtered-color-grafito;
		}
	}
	& .hover-effect {
		@extend %hover-effect;
	}
}

.schedule__create-btn-wrapper {
	position: relative;
}